<form action="<%= cats_url %>" method='post'>
    <label for="name"> Name </label> 
    <input type='text' id='cat_name' value='<%= cat.name %>'>  

    <label for="birth_date"> Birthday</label> 
    <input type='date' id='cat_date' value='<%= cat.birth_date %>'>  

    <label for="color"> Color </label> 
        <select id='cat_color'>
        <option disabled selected> Select a color: </option>
        <% Cat::COLORS.each do |color| %>
           <option <%= color %> value= <%= cat.color %>></option>
        <% end %>
        </select>

    <input type = "radio" id = cat_sex_M <%= cat.sex = 'M' %>>
    <label for= 'cat_sex_male'> Male </label>
    <input type = "radio" id = cat_sex_F <%= cat.sex = 'F' %>>
    <label for= 'cat_sex_female'> Female </label>
  
    <label for= "description"> Description </label>
    <input type='text' id='cat_descrption' value='<%= cat.description %>'>  

    <input type = 'submit' value='<%= 'Create cat!' %>'> 
    </form>